<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>com.socalabs.Oscilloscope</string>
    <key>CFBundleName</key>
    <string>Oscilloscope</string>
    <key>CFBundleDisplayName</key>
    <string>Oscilloscope</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.1</string>
    <key>CFBundleVersion</key>
    <string>1.0.1</string>
    <key>NSHumanReadableCopyright</key>
    <string>SocaLabs</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>AudioComponents</key>
    <array>
      <dict>
        <key>name</key>
        <string>SocaLabs: Oscilloscope</string>
        <key>description</key>
        <string>Oscilloscope</string>
        <key>factoryFunction</key>
        <string>slOscilloscopeAUFactory</string>
        <key>manufacturer</key>
        <string>Soca</string>
        <key>type</key>
        <string>aufx</string>
        <key>subtype</key>
        <string>Oscl</string>
        <key>version</key>
        <integer>65537</integer>
      </dict>
    </array>
  </dict>
</plist>
